<section class="sessionElement">
    <div>
        <img src="{{data.pic}}" alt="">
        <h1>{{data.firstName}} {{data.lastName}}</h1>
        <a href="/patientlijst/{{item}}">Terug naar overzicht</a>
    </div>
    <section>
        <div>
            <img src="../../img/emotions/sad.png" alt="">
            <h1>Gedeprimeerd</h1>
        </div>
        <div>
            <h1>27-05</h1>
            <h2>3 min</h2>
    <div class="slider">
        <div class="slides">
            <div id="slide-1">
                <h1>Frank Sinatra
                    <br>
                    Thats Life
                </h1>
            </div>
            <div id="slide-2">
                <h1>Kanye West
                    <br>
                    Goodmorning
                </h1>
            </div>
            <div id="slide-3">
               <h1>Lil Wayne
                   <br>
                   Mona Lisa
               </h1>
            </div>
        </div>

        <a href="#slide-1">●</a>
        <a href="#slide-2">●</a>
        <a href="#slide-3">●</a>
    </div>
        </div>
        <div>
            <img src="../../img/emotions/happy.png" alt="">
            <h1>Ontspannen</h1>
        </div>
    </section>

      <section>
        <div>
            <img src="../../img/emotions/sad.png" alt="">
            <h1>Gedeprimeerd</h1>
        </div>
        <div>
            <h1>27-05</h1>
            <h2>3 min</h2>
    <div class="slider">
        <div class="slides">
            <div id="slide-1">
                <h1>Frank Sinatra
                    <br>
                    Thats Life
                </h1>
            </div>
            <div id="slide-2">
                <h1>Kanye West
                    <br>
                    Goodmorning
                </h1>
            </div>
            <div id="slide-3">
               <h1>Lil Wayne
                   <br>
                   Mona Lisa
               </h1>
            </div>
        </div>

        <a href="#slide-1">●</a>
        <a href="#slide-2">●</a>
        <a href="#slide-3">●</a>
    </div>
        </div>
        <div>
            <img src="../../img/emotions/happy.png" alt="">
            <h1>Ontspannen</h1>
        </div>
    </section>

      <section>
        <div>
            <img src="../../img/emotions/sad.png" alt="">
            <h1>Gedeprimeerd</h1>
        </div>
        <div>
            <h1>27-05</h1>
            <h2>3 min</h2>
    <div class="slider">
        <div class="slides">
            <div id="slide-1">
                <h1>Frank Sinatra
                    <br>
                    Thats Life
                </h1>
            </div>
            <div id="slide-2">
                <h1>Kanye West
                    <br>
                    Goodmorning
                </h1>
            </div>
            <div id="slide-3">
               <h1>Lil Wayne
                   <br>
                   Mona Lisa
               </h1>
            </div>
        </div>

        <a href="#slide-1">●</a>
        <a href="#slide-2">●</a>
        <a href="#slide-3">●</a>
    </div>
        </div>
        <div>
            <img src="../../img/emotions/happy.png" alt="">
            <h1>Ontspannen</h1>
        </div>
    </section>
</section>