<section class="sessionElement">
    <div>
        <img src="{{data.pic}}" alt="">
        <h1>{{data.firstName}} {{data.lastName}}</h1>
        <a href="/patientlijst/{{userKey}}">Terug naar overzicht</a>
    </div>
    <section>
        <div>
            <img src="../../img/emotions/sad.png" alt="">
            <h1>Gedeprimeerd</h1>
        </div>
        <div>
            <h1>27-05</h1>
            <h2>3 min</h2>
            <h1>That’s life <br>
            Frank Sinatra</h1>
        </div>
        <div>
            <img src="../../img/emotions/happy.png" alt="">
            <h1>Ontspannen</h1>
        </div>
    </section>
</section>