<section>
        <div>
            <h1>Positiviteit</h1>
            <canvas id="myLineChart"></canvas>
        </div>

        <div>
            <h1>Emoties</h1>
            <canvas id="myBarChart"></canvas>
        </div>

        <div>
            <h1>Piekuren</h1>
            <canvas id="myBarChart2"></canvas>
        </div>

</section>



<section>
    

    <article class="percentage-big">
    <div>
        <p>ZONNEPARK </p>
        <h3>-6%</h3>
    </div>
    <p>In vergelijking met vorige week</p>
</article>


 <article class="emotionTable">
            <div>
            <h1>1. Gelukkig</h1>
            <p>+1</p>
            </div>
            <div>
            <h1>2. Moe</h1>
            <p>-1</p>
            </div>
              <div>
            <h1>3. Verveeld</h1>
            <p>+1</p>
            </div>
            <div>
                <h2>In vergelijking met vorige week</h2>
            </div>
        </article>

  <article class="traffic">
            <h3>Gisteren</h3>
            <div>
                <p>Hoogst</p>
                <p>21:00</p>
            </div>
            <div>
                <p>Laagst</p>
                <p>13:00</p>
            </div>
        </article>

</section>