<head>
      <meta charset="UTF-8">
      <meta name="description" content="Glory Days, Connect with your loved one by reliving memories through music">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="apple-touch-icon" sizes="180x180" href="/img/fav/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/img/fav/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/img/fav/favicon-16x16.png">
      <link rel="manifest" href="/manifest.json">
      <link rel="mask-icon" href="/img/fav/safari-pinned-tab.svg" color="#5bbad5">
      <link rel="shortcut icon" href="/img/fav/favicon.ico">
      <meta name="msapplication-TileColor" content="#603cba">
      <meta name="msapplication-config" content="/browserconfig.xml">
      <meta name="theme-color" content="#ffffff">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://use.typekit.net/zol2mal.css">
      <link rel="stylesheet" href="/css/global.css">
      <link rel="stylesheet" href="/css/{{ css }}.css">
      <title>{{ title }}</title>
</head>