<nav>
    <ul>
        <li {{#if dashboard }} class="active" {{/if}}><a href="/dashboard">Dashboard <br> Zonnepark</a></li>
        <li {{#if userList }} class="active" {{/if}}><a href="/patientlijst">patiënten</a></li>
        <li {{#if location }} class="active" {{/if}}><a href="">Locatie wijzigen</a></li>
    </ul>
    <ul>
        <li><a href="">Jij</a></li>
        <li><img src="/img/tieneke.png" alt=""></li>
    </ul>
</nav>  