<section class="userElement">
    <form action="">
        <input type="text" placeholder="Titel..." required>

        <fieldset>
            <input type="checkbox" id="pro" name="pro" required>
            <label for="pro">Voor PRO</label>
            <input type="checkbox" id="fam" name="fam" required>
            <label for="fam">Voor FAM</label>
        </fieldset>

        <textarea name="text" id="text" cols="30" rows="10" placeholder="Tekst..." required></textarea>

        <button>Toevoegen</button>
    </form>

</section>