<section class="userElement">

    <div>
        <h1>{{ data.title }}</h1>
        <p class="label">Voor Verzorger</p>
    </div>

    <div>
<p>{{ data.text }}</p>
    </div>



    <section class="container">
      <img src="https://images.unsplash.com/photo-1515515957482-9bfec374dbc4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=760&q=80" alt="">
      <div>
      <h2>Geschreven door {{ data.author }}</h2>
      <h3>Geschreven op {{ data.date }}</h3>
      </div>
    </section>

</section>