<section class="sort">
 <h1>Sorteren</h1>   
<a href="">

    Meest succesvolle patiënten
</a>

<a href="">
    minst succesvolle patiënten
</a>

<a href="">
    A - z Alfabetisch
</a>

<a href="">
    z - a Alfabetisch
</a>
</section>