<section class="userElement">
    <div>
        <img src="/img/tieneke.png" alt="">
        <h1>Tieneke van Aartsen</h1>
        <a href="">Notitie</a>
    </div>

    <div>
        <a href="">
            <h2>Herinneringen</h2>
        </a>
        <a href="">
            <h2>Bekijk Sessies</h2>
        </a>
    </div>


    <div class="slider">

        <a href="#slide-1">Informatie</a>
        <a href="#slide-2">Positiviteit</a>
        <a href="#slide-3">Schermtijd</a>

        <div class="slides">
            <div id="slide-1">
                <canvas id="polarChart"></canvas>
            </div>
            <div id="slide-2">
                <canvas id="lineChart"></canvas>
            </div>
            <div id="slide-3">
                <canvas id="barChart"></canvas>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Positieve Herinneringen</h2>
        <article>
            <div>
                <p class="emotion">Gelukkig</p>
                <h3>Onze trouwdag</h3>
            </div>
        </article>
        <article>
            <div>
                <p class="emotion">Blij</p>
                <h3>Feestdagen met fam</h3>
            </div>
        </article>
    </div>

</section>