<article class="percentage-small">
    <p>{{ title }}</p>
    <h3>{{ percentage }}%</h3>
</article>

<style>
    .percentage-small {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: var(--background-highlight);
        color: var(--khaki);
        text-transform: uppercase;
        padding: 15px 20px;
        border-radius: 10px;
        font-family: 'Lato', sans-serif;
    }

    .percentage-small p {
        margin: 0;
        font-size: 1em;
    }

    .percentage-small h3 {
        margin: 0;
        font-size: 2.2em;
        color: var(--khaki);
        width: 100%;
        border-bottom: 3px solid var(--orange);
    }
</style>