<main>
    <h1>Effectiviteit</h1>
    <section>


        <div>
            <canvas id="myRadarChart"></canvas>
        </div>

              <div>
            <canvas id="myLineChart2"></canvas>
        </div>
    </section>

    <h1>Positiviteit</h1>
    <section>
        <div>
            <canvas id="myLineChart"></canvas>
        </div>
        <div>
            <canvas id="myBarChart2"></canvas>
        </div>
    </section>

    <h1>Meest ervaren emotie (gemiddeld)</h1>
    <section>
        <div>
            <canvas id="myBarChart"></canvas>
        </div>

        <div>
            <canvas id="myPolarChart"></canvas>
        </div>

  
    </section>


    <h1>Emoties</h1>
    <section>
        <div>
            <canvas id="myLineChart"></canvas>
        </div>
        <div>
            <canvas id="myDougnutChart"></canvas>
        </div>
        <div>
            <canvas id="myPolarChart"></canvas>
        </div>


    </section>


    <h1>Piekuren</h1>
    <section>
        <div>
            <canvas id="myBubbleChart"></canvas>
        </div>
        <div>
            <canvas id="myBarChart3"></canvas>
        </div>
                      <div>
            <canvas id="myLineChart3"></canvas>
        </div>
    </section>












</main>