<h1>Project Glory-Days</h1>
<p>Glory Days facilitates social interaction between AD patients and their caregivers by triggering and reliving
    autobiographical memories via loved and long played music.
</p>
<p>It is a support application in the category 'reminiscence and socialization’ for AD patients and their caregivers.
    Linking music to autobiographical memories to improve immediate quality of life by capturing (lost) memories and
    create a story of the patient's life before it disappears.
</p>

<a href="/style">Go to styleguide</a>
<a href="/start">Go to first itteration</a>
<a href="/userList">Lijst met patiënten scherm</a>
<a href="/chart">Kijk naar verschillende charts</a>