<main>
    <img src="../img/profile.jpg" alt="Sarah de stoephoer">
    <h1>Goedemorgen, in welk tehuis bevindt je je nu?
    </h1>

    <div>
        {{#each nursing}}
        <a href="/{{@key}}/dashboard">
            <h1> {{@key}} </h1>
        </a>
        {{/each}}
    </div>

</main>