<main>
    <img src="/img/logo.png" alt="">
    <h1>Pagina niet gevonden</h1>
    <p>Ga terug naar de vorige pagina, of keer terug naar de inlog pagina.</p>
    <a href="/">Terug naar login</a>
</main>

<svg width="1194" height="762" viewBox="0 0 1194 762" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd"
        d="M661.673 3.84266C841.139 -16.0001 1026.46 43.4376 1163.29 126.091C1293.58 204.795 1317.44 330.64 1384.94 440.745C1460.84 564.553 1610.98 676.821 1582.44 809.824C1552.39 949.896 1494.66 1109.58 1334 1197.5C1167.75 1288.48 873.68 1309.78 661.673 1313.71C446.293 1317.69 103.372 1466.23 -36.5 1353C-170.064 1244.88 -324.941 1212.47 -389.5 1077.5C-454.624 941.346 -380.421 519.785 -307.244 385.598C-232.911 249.292 81.4151 297.617 264.551 225.461C416.074 165.76 489.436 22.8862 661.673 3.84266Z"
        fill="#E7E0D6" />
</svg>