{{> nav }}

<main>
    {{> noteListElement }}
    {{#if noteKey}}
    {{> noteElement }}
    {{/if}}

    {{#if sort}}
    {{> noteSortElement}}
    {{/if}}

    {{#if newnote}}
    {{> newNoteElement}}
    {{/if}}
</main>