<main>
    <a href="/tehuis">
        <svg class="backIcon" width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M20.9999 0C9.40047 0 0 9.40052 0 21C0 32.5995 9.45544 42 20.9999 42C32.5443 42 41.9998 32.5995 41.9998 21C42.0547 9.40052 32.5993 0 20.9999 0ZM20.9999 39.966C10.5549 39.966 2.03402 31.445 2.03402 21C2.03402 10.555 10.5549 2.03403 20.9999 2.03403C31.4448 2.03403 39.9657 10.555 39.9657 21C39.9657 31.445 31.4998 39.966 20.9999 39.966ZM31.7197 21C31.7197 21.5497 31.2799 21.9895 30.7302 21.9895H14.623L20.3402 27.7068C20.725 28.0916 20.725 28.7513 20.3402 29.1361C20.1203 29.356 19.9004 29.411 19.6255 29.411C19.3507 29.411 19.1308 29.301 18.9109 29.1361L11.4345 21.7147C11.3795 21.6597 11.3245 21.6047 11.3245 21.5497L11.2696 21.4948C11.2696 21.4398 11.2146 21.4398 11.2146 21.3848C11.2146 21.3298 11.2146 21.3298 11.1596 21.2749C11.1596 21.2199 11.1596 21.2199 11.1596 21.1649C11.1596 21.055 11.1596 20.8901 11.1596 20.7801C11.1596 20.7251 11.1596 20.7251 11.1596 20.6702C11.1596 20.6152 11.1596 20.6152 11.2146 20.5602C11.2146 20.5052 11.2696 20.5052 11.2696 20.4503C11.2696 20.4503 11.2696 20.3953 11.3245 20.3953C11.3795 20.3403 11.3795 20.2853 11.4345 20.2304L18.9659 12.699C19.3507 12.3141 20.0104 12.3141 20.3952 12.699C20.78 13.0838 20.78 13.7435 20.3952 14.1283L14.623 19.9555H30.7302C31.2799 19.9555 31.7197 20.4503 31.7197 21Z"
                fill="#EA6F3D" />
        </svg>
    </a>
    <svg class="searchIcon" width="38" height="36" viewBox="0 0 38 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M36.6006 29.1451L28.2967 21.1734C29.4075 19.1424 30.0421 16.8575 30.0421 14.4202C30.0421 6.49926 23.325 0 15.0211 0C6.77006 0 0 6.44848 0 14.4202C0 22.392 6.77006 28.7897 15.074 28.7897C17.8243 28.7897 20.416 28.0788 22.6374 26.8094L30.8355 34.6796C31.6289 35.3905 32.6338 35.7967 33.7445 35.7967C34.8552 35.7967 35.8602 35.3905 36.6006 34.6289C38.1874 33.1564 38.1874 30.6684 36.6006 29.1451ZM22.2672 24.7784C20.2044 26.0986 17.7185 26.8602 15.0211 26.8602C7.88077 26.911 2.00986 21.2749 2.00986 14.3695C2.00986 7.46399 7.88077 1.82792 15.074 1.82792C22.2672 1.82792 28.1381 7.46399 28.1381 14.3695C28.1381 16.7051 27.4505 18.8885 26.2869 20.7672L26.234 20.8179C25.2291 22.392 23.8539 23.7629 22.2672 24.7784ZM35.2255 33.3595C34.4321 34.1211 33.004 34.1211 32.2107 33.3595L24.277 25.7432C24.3299 25.7432 24.3299 25.6924 24.3828 25.6924C25.4406 24.88 26.4456 23.9152 27.2389 22.849L35.2255 30.5161C36.0717 31.2777 36.0717 32.5471 35.2255 33.3595ZM15.074 5.7884C10.1551 5.7884 6.13537 9.64734 6.13537 14.3695C6.13537 19.0916 10.1551 22.9505 15.074 22.9505C19.9928 22.9505 24.0126 19.0916 24.0126 14.3695C24.0126 9.64734 19.9928 5.7884 15.074 5.7884ZM15.074 21.1226C11.2129 21.1226 8.03945 18.1268 8.03945 14.3695C8.03945 10.6628 11.16 7.61632 15.074 7.61632C18.935 7.61632 22.1085 10.6121 22.1085 14.3695C22.0556 18.0761 18.935 21.1226 15.074 21.1226Z"
            fill="#EA6F3D" />
    </svg>

    <a id="account" href="">
        <p>Account</p>
        <img src="./img/profile.jpg" alt="Mijn profiel">
    </a>


    <section class="patientlist">
        <a href="/patient/1">
            <section>
                <img src="./img/tieneke.png" alt="Profielfoto van tieneke">
                <p>Tieneke van Aartsen</p>
            </section>
        </a>
        <a href="">
            <section>
                <img src="./img/tieneke.png" alt="Profielfoto van tieneke">
                <p>Joost van Klaveren</p>
            </section>
        </a>
        <a href="">
            <section>
                <img src="./img/tieneke.png" alt="Profielfoto van tieneke">
                <p>Arie Joostten</p>
            </section>
        </a>
        <a href="">
            <section>
                <img src="./img/tieneke.png" alt="Profielfoto van tieneke">
                <p>John Klein</p>
            </section>
        </a>
        <a href="">
            <section>
                <img src="./img/tieneke.png" alt="Profielfoto van tieneke">
                <p>Roos Klaver</p>
            </section>
        </a>
        <a href="">
            <section>
                <img src="./img/tieneke.png" alt="Profielfoto van tieneke">
                <p>Joost van Klaveren</p>
            </section>
        </a>
        <a href="">
            <section>
                <img src="./img/tieneke.png" alt="Profielfoto van tieneke">
                <p>Arie Joostten</p>
            </section>
        </a>
        <a href="">
            <section>
                <img src="./img/tieneke.png" alt="Profielfoto van tieneke">
                <p>John Klein</p>
            </section>
        </a>
        <a href="">
            <section>
                <img src="./img/tieneke.png" alt="Profielfoto van tieneke">
                <p>Roos Klaver</p>
            </section>
        </a>

    </section>


    <section id="activities">
        <h2>Aankomende activiteiten</h2>
        <div>
            <a href="">
                <h3><span>Bingo</span><span>21 mei</span></h3>
            </a>
            <a href="">
                <h3><span>Bingo</span><span>22 mei</span></h3>
            </a>
            <a href="">
                <h3><span>Bingo</span><span>23 mei</span></h3>
            </a>
            <a href="">
                <h3><span>Bingo</span><span>24 mei</span></h3>
            </a>
            <a href="">
                <h3><span>Bingo</span><span>25 mei</span></h3>
            </a>
            <a href="">
                <h3><span>Bingo</span><span>26 mei</span></h3>
            </a>
            <a href="">
                <h3><span>Nog een bingo</span><span>27 mei</span></h3>
            </a>
            <a href="">
                <h3><span>Bingo</span><span>28 mei</span></h3>
            </a>
            <a href="">
                <h3><span>Bingo</span><span>29 mei</span></h3>
            </a>
            <a href="">
                <h3><span>Bingo</span><span>30 mei</span></h3>
            </a>
            <a href="">
                <h3><span>Bingo</span><span>31 mei</span></h3>
            </a>
            <a href="">
                <h3><span>Nog een bingo</span><span>32 mei</span></h3>
            </a>
        </div>
    </section>

    <svg class="background" width="70vw" height="834" viewBox="0 0 543 834" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M112.618 -123.722C196.18 -140.65 282.468 -89.9425 346.178 -19.4289C406.843 47.7148 417.956 155.076 449.384 249.009C484.724 354.632 554.629 450.41 541.343 563.877C527.351 683.376 453.652 776.407 378.847 851.412C301.437 929.029 211.332 990.402 112.618 993.75C12.3335 997.15 -473.873 1031.1 -539 934.5C-601.19 842.256 -515.94 650.148 -546 535C-576.323 418.845 -588.073 245.477 -554 131C-519.389 14.7144 -468.771 -68.9424 -383.5 -130.5C-312.948 -181.432 32.4215 -107.475 112.618 -123.722Z"
            fill="#E7E0D6" />
    </svg>

</main>