{{> nav }}

<svg class="achtergrond" width="568" height="314" viewBox="0 0 568 314" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd"
        d="M216.599 311.218C152.41 321.49 86.1274 290.721 37.1884 247.934C-9.41173 207.193 -17.9479 142.047 -42.0896 85.0505C-69.2361 20.9599 -122.934 -37.1569 -112.728 -106.007C-101.98 -178.517 -45.3681 -234.967 12.0937 -280.479C71.5563 -327.576 140.771 -364.817 216.599 -366.848C293.633 -368.911 379.194 -350.267 429.221 -291.652C476.992 -235.68 439.297 -148.734 462.388 -78.8642C485.68 -8.38279 589.32 44.1347 563.147 113.598C536.56 184.158 424.137 159.143 358.636 196.495C304.441 227.399 278.202 301.36 216.599 311.218Z"
        fill="#E7E0D6" />
</svg>

<main>
    <section>
        <div>
            <img src="/img/profile.jpg" alt="">
            <h1>Sarah</h1>
            <h2>Verzorger</h2>
        </div>
        <div>
            <h1>Bewoners met Alzheimer</h1>
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M12.5 0C5.59555 0 0 5.58824 0 12.4837C0 19.3791 5.59555 25 12.5 25C19.4045 25 25 19.4118 25 12.5163C25 5.62091 19.4045 0 12.5 0ZM12.5 23.7909C6.28272 23.7909 1.21073 18.7255 1.21073 12.5163C1.21073 6.30719 6.28272 1.20915 12.5 1.20915C18.7173 1.20915 23.7893 6.27451 23.7893 12.4837C23.7893 18.6928 18.7173 23.7909 12.5 23.7909ZM18.3246 12.7778C18.3246 12.7778 18.3246 12.8105 18.2919 12.8105C18.2592 12.8431 18.2592 12.8758 18.2264 12.9085L13.7107 17.4183C13.5798 17.549 13.449 17.5817 13.2853 17.5817C13.1217 17.5817 12.9908 17.5163 12.8599 17.4183C12.6309 17.1895 12.6309 16.7974 12.8599 16.5686L16.3285 13.1046H6.74084C6.41361 13.1046 6.15183 12.8431 6.15183 12.5163C6.15183 12.1895 6.41361 11.9281 6.74084 11.9281H16.3285L12.8927 8.49673C12.6636 8.26797 12.6636 7.87582 12.8927 7.64706C13.1217 7.4183 13.5144 7.4183 13.7435 7.64706L18.1937 12.0915C18.2264 12.1242 18.2592 12.1569 18.2592 12.1895L18.2919 12.2222C18.2919 12.2549 18.3246 12.2549 18.3246 12.2876C18.3246 12.3203 18.3246 12.3203 18.3573 12.3529C18.3573 12.3856 18.3573 12.3856 18.3573 12.4183C18.3573 12.4837 18.3573 12.5817 18.3573 12.6471C18.3573 12.6797 18.3573 12.6797 18.3573 12.7124C18.3573 12.7451 18.3573 12.7451 18.3246 12.7778C18.3246 12.7778 18.3246 12.7451 18.3246 12.7778Z"
                    fill="#5C5141" />
            </svg>

            <h1>Voeg anderen toe </h1>
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M12.5 0C5.59555 0 0 5.58824 0 12.4837C0 19.3791 5.59555 25 12.5 25C19.4045 25 25 19.4118 25 12.5163C25 5.62091 19.4045 0 12.5 0ZM12.5 23.7909C6.28272 23.7909 1.21073 18.7255 1.21073 12.5163C1.21073 6.30719 6.28272 1.20915 12.5 1.20915C18.7173 1.20915 23.7893 6.27451 23.7893 12.4837C23.7893 18.6928 18.7173 23.7909 12.5 23.7909ZM18.3246 12.7778C18.3246 12.7778 18.3246 12.8105 18.2919 12.8105C18.2592 12.8431 18.2592 12.8758 18.2264 12.9085L13.7107 17.4183C13.5798 17.549 13.449 17.5817 13.2853 17.5817C13.1217 17.5817 12.9908 17.5163 12.8599 17.4183C12.6309 17.1895 12.6309 16.7974 12.8599 16.5686L16.3285 13.1046H6.74084C6.41361 13.1046 6.15183 12.8431 6.15183 12.5163C6.15183 12.1895 6.41361 11.9281 6.74084 11.9281H16.3285L12.8927 8.49673C12.6636 8.26797 12.6636 7.87582 12.8927 7.64706C13.1217 7.4183 13.5144 7.4183 13.7435 7.64706L18.1937 12.0915C18.2264 12.1242 18.2592 12.1569 18.2592 12.1895L18.2919 12.2222C18.2919 12.2549 18.3246 12.2549 18.3246 12.2876C18.3246 12.3203 18.3246 12.3203 18.3573 12.3529C18.3573 12.3856 18.3573 12.3856 18.3573 12.4183C18.3573 12.4837 18.3573 12.5817 18.3573 12.6471C18.3573 12.6797 18.3573 12.6797 18.3573 12.7124C18.3573 12.7451 18.3573 12.7451 18.3246 12.7778C18.3246 12.7778 18.3246 12.7451 18.3246 12.7778Z"
                    fill="#5C5141" />
            </svg>

            <h1>Account instellingen</h1>
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M12.5 0C5.59555 0 0 5.58824 0 12.4837C0 19.3791 5.59555 25 12.5 25C19.4045 25 25 19.4118 25 12.5163C25 5.62091 19.4045 0 12.5 0ZM12.5 23.7909C6.28272 23.7909 1.21073 18.7255 1.21073 12.5163C1.21073 6.30719 6.28272 1.20915 12.5 1.20915C18.7173 1.20915 23.7893 6.27451 23.7893 12.4837C23.7893 18.6928 18.7173 23.7909 12.5 23.7909ZM18.3246 12.7778C18.3246 12.7778 18.3246 12.8105 18.2919 12.8105C18.2592 12.8431 18.2592 12.8758 18.2264 12.9085L13.7107 17.4183C13.5798 17.549 13.449 17.5817 13.2853 17.5817C13.1217 17.5817 12.9908 17.5163 12.8599 17.4183C12.6309 17.1895 12.6309 16.7974 12.8599 16.5686L16.3285 13.1046H6.74084C6.41361 13.1046 6.15183 12.8431 6.15183 12.5163C6.15183 12.1895 6.41361 11.9281 6.74084 11.9281H16.3285L12.8927 8.49673C12.6636 8.26797 12.6636 7.87582 12.8927 7.64706C13.1217 7.4183 13.5144 7.4183 13.7435 7.64706L18.1937 12.0915C18.2264 12.1242 18.2592 12.1569 18.2592 12.1895L18.2919 12.2222C18.2919 12.2549 18.3246 12.2549 18.3246 12.2876C18.3246 12.3203 18.3246 12.3203 18.3573 12.3529C18.3573 12.3856 18.3573 12.3856 18.3573 12.4183C18.3573 12.4837 18.3573 12.5817 18.3573 12.6471C18.3573 12.6797 18.3573 12.6797 18.3573 12.7124C18.3573 12.7451 18.3573 12.7451 18.3246 12.7778C18.3246 12.7778 18.3246 12.7451 18.3246 12.7778Z"
                    fill="#5C5141" />
            </svg>

        </div>
        <a href="">Uitloggen</a>
    </section>


    <section>
        <div>
            <h1>Account instellingen</h1>
            <h2>Opslaan</h2>
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M12.5 0C5.59555 0 0 5.58824 0 12.4837C0 19.3791 5.59555 25 12.5 25C19.4045 25 25 19.4118 25 12.5163C25 5.62091 19.4045 0 12.5 0ZM12.5 23.7909C6.28272 23.7909 1.21073 18.7255 1.21073 12.5163C1.21073 6.30719 6.28272 1.20915 12.5 1.20915C18.7173 1.20915 23.7893 6.27451 23.7893 12.4837C23.7893 18.6928 18.7173 23.7909 12.5 23.7909ZM18.3246 12.7778C18.3246 12.7778 18.3246 12.8105 18.2919 12.8105C18.2592 12.8431 18.2592 12.8758 18.2264 12.9085L13.7107 17.4183C13.5798 17.549 13.449 17.5817 13.2853 17.5817C13.1217 17.5817 12.9908 17.5163 12.8599 17.4183C12.6309 17.1895 12.6309 16.7974 12.8599 16.5686L16.3285 13.1046H6.74084C6.41361 13.1046 6.15183 12.8431 6.15183 12.5163C6.15183 12.1895 6.41361 11.9281 6.74084 11.9281H16.3285L12.8927 8.49673C12.6636 8.26797 12.6636 7.87582 12.8927 7.64706C13.1217 7.4183 13.5144 7.4183 13.7435 7.64706L18.1937 12.0915C18.2264 12.1242 18.2592 12.1569 18.2592 12.1895L18.2919 12.2222C18.2919 12.2549 18.3246 12.2549 18.3246 12.2876C18.3246 12.3203 18.3246 12.3203 18.3573 12.3529C18.3573 12.3856 18.3573 12.3856 18.3573 12.4183C18.3573 12.4837 18.3573 12.5817 18.3573 12.6471C18.3573 12.6797 18.3573 12.6797 18.3573 12.7124C18.3573 12.7451 18.3573 12.7451 18.3246 12.7778C18.3246 12.7778 18.3246 12.7451 18.3246 12.7778Z"
                    fill="#5C5141" />
            </svg>
        </div>


        <div>
            <img src="/img/profile.jpg" alt="">
            <h2>Profiel foto wijzigen</h2>

            <form action="">
                <label for="name">Naam</label>
                <input type="text" id="name">
                <label for="mail">Email</label>
                <input type="email" id="mail">
                <label for="password">Wachtwoord</label>
                <input type="password" id="password">
            </form>
        </div>
        <div>
            <a href="">Log in met spotify</a>
            <a href="">Wachtwoord wijzigen</a>
        </div>
        <a href="">Verwijder account</a>
        </div>
    </section>
</main>