<main>
    <img src="./img/logo.png" alt="" class="logo">

    <img src="./img/bg.png" alt="" class="bg">

    <section>
        <button><a href="">Inlog verzorger</a></button>
        <button><a href="">Inlog familie</a></button>
    </section>
</main>