/* --------------------------------------------------------------------------------- global */
:root {
    --orange: #ea6f3d;
    --khaki: #5c5141;
    --brown: #c2ae92;
    --green: #7ebdb2;
    --navy: #25333a;
    --background-white: #ffffff;
    --background-tint: #efefef;
    --background-highlight: #e7e0d6;
    --nav-height: 10vh;
    --image-size: 60px;
}

html {
    background-color: var(--background-white);
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: minion-pro, serif;
    font-weight: 400;
    font-style: normal;
    color: var(--khaki);
}

/* --------------------------------------------------------------------------------- headers & texts */
h1 {
    font-weight: 400;
}

a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

h3 {
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 400;
}

.paragraph {
    font-family: 'Lato', sans-serif;
    color: var(--khaki);
    font-weight: 400;
}

.emotion {
    font-family: 'Lato', sans-serif;
    color: var(--orange);
    text-transform: uppercase;
}