:root {
    --color1: #ea6f3d;
    --color2: #5c5141;
    --color3: #7ebdb2;
    --barcolor: #25333a;
    --background-main: #efefef;
    --background-highlight: #e7e0d6;
}

html {
    background-color: var(--background-main);
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: minion-pro, serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color2);
}

svg {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
  
path {
      fill: var(--background-highlight);
}