/* --------------------------------------------------------------------------------- global */
:root {
    --orange: #ea6f3d;
    --khaki: #5c5141;
    --green: #7ebdb2;
    --barcolor: #25333a;
    --background-white: #ffffff;
    --background-tint: #efefef;
    --background-highlight: #e7e0d6;
}

html {
    background-color: var(--background-white);
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: minion-pro, serif;
    font-weight: 400;
    font-style: normal;
    color: var(--khaki);
}

/* --------------------------------------------------------------------------------- headers & texts */
h1{
    font-size: 5em;
    font-weight: 400;
}

h3{
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 400;
}

.paragraph{
    font-family: 'Lato', sans-serif;
    color: var(--khaki);
    font-weight: 400;
    margin-bottom: 3em;
}

.emotion{
    font-family: 'Lato', sans-serif;
    color: var(--orange);
    text-transform: uppercase;
}

/* --------------------------------------------------------------------------------- elements */
.songPreview {
    position: relative;
    flex: 0 0 auto;
    width: 19vw;
    height: 18vh;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 20px;
    scroll-snap-align: start;
}

svg:last-of-type {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
  
path:last-of-type {
      fill: var(--background-highlight);
}