body {
    min-height: auto;
}

img {
    width: 20%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: var(--nav-height)
}

h1 {
    text-align: center;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

a {
    position: relative;
    border-radius: 10%;
    display: block;
    width: 250px;
    height: 250px;
    background-color: var(--orange);
    color: white;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    padding: 20px;
    display: inline-flex;
    align-items: flex-end;
}

a:nth-child(2) {
    background-color: var(--khaki);
}


.ipadBackground {
    display: none;
}


@media only screen and (min-width: 1748px) {

    img {
        width: 10%;
    }

    a {
        width: 225px;
        height: 225px;
    }


    a:nth-child(1) {
        margin-left: 24vw;
    }

    a:nth-child(2) {
        margin-right: 24vw;
    }

    .ipadBackground {
        display: block;
        background-image: url('/img/ipadmockupwhite2.png');
        position: fixed;
        top: 2%;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 80%;
        height: 80%;
        z-index: -21;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }


}