/* --------------------------------------------------------------------------------- global */
:root {
    --orange: #ea6f3d;
    --khaki: #5c5141;
    --green: #7ebdb2;
    --barcolor: #25333a;
    --background-white: #ffffff;
    --background-tint: #efefef;
    --background-highlight: #e7e0d6;
}

html {
    background-color: var(--background-white);
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: minion-pro, serif;
    font-weight: 400;
    font-style: normal;
    color: var(--khaki);
}

/* --------------------------------------------------------------------------------- headers & texts */
h1 {
    font-size: 5em;
    font-weight: 400;
}

h3 {
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 400;
}

.paragraph {
    font-family: 'Lato', sans-serif;
    color: var(--khaki);
    font-weight: 400;
    margin-bottom: 3em;
}

.emotion {
    font-family: 'Lato', sans-serif;
    color: var(--orange);
    text-transform: uppercase;
}

/* --------------------------------------------------------------------------------- elements */
.songPreview {
    position: relative;
    flex: 0 0 auto;
    width: 20vw;
    height: 18vh;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 20px;
    scroll-snap-align: start;
}

.songPreview img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    z-index: -1;
}

svg:last-of-type {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

path:last-of-type {
    fill: var(--background-highlight);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 12vh 1fr;
    gap: 9vh 0px;
    grid-template-areas:
        "header header"
        "over herinneringen"
}

.over {
    grid-area: over;
}

.over>p {
    font-size: clamp(1em, 1.5vw, 2em);
    margin-bottom: 1em;
    margin-top: 0.2em;
}

.over>h3 {
    font-size: clamp(1em, 1.5vw, 2em);
    margin-bottom: 0em
}

.herinneringen {
    grid-area: herinneringen;
    width: 43vw;
}

.achtergrond {
    height: 95vh;
    top: 125px;
    left: -44px !important;
}

.backIcon {
    position: relative !important;
    z-index: 10 !important;
    top: 10px;
    left: 10px;
}

.backIcon path {
    fill: var(--orange);
}

.profielfoto {
    width: 100px;
    height: 100px;
    margin-left: 3em;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.over {
    position: fixed;
    top: 25vh;
    left: 5em;
    max-width: 300px;
}

p {
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.over>p:last-of-type {
    font-weight: 400;
}

h3 {
    color: var(--orange)
}


.over > a {
    background-color: var(--orange);
    text-decoration: none;
    color: white;
    padding: 12px 50px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    
    margin-top: 2em;
}

#patientbtns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

button {
    display: inline-flex;
    align-items: flex-end;
    padding: 20px;
    width: 19vw;
    border-radius: 20px;
    height: 18vh;
    color: white;
    border: none;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: inherit;
    font-size: clamp(1em, 1.5vw, 1.2em);
}

button:nth-of-type(1) {
    background-color: var(--green);
}

button:nth-of-type(2) {
    background-color: var(--khaki);
}

.herinneringen h3 {
    color: var(--khaki);
    font-weight: 300;
}

.herinneringen h2 {
    font-weight: 400;
    font-size: 2.5em;
}

.herinneringen section {
    padding-bottom: 5px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: y mandatory;
}

.herinneringen>h2 {
    font-size: clamp(2.3em, 3.4vw, 3.3em);
}

.herinneringen>h3 {
    font-size: clamp(1.4em, 2.1vw, 2.3em)
}

.herinneringen section::-webkit-scrollbar {
    background-color: var(--background-highlight);
    border-radius: 10px;
    height: 8px;
}

.herinneringen section::-webkit-scrollbar-thumb {
    background-color: var(--khaki);
    border-radius: 10px;
}

.herinneringen>section:not(:first-child) {
    margin-bottom: 5em;
}

article:not(:first-child) {
    margin-left: calc(43vw - (2 * 19vw));
}

article {
    background-image: linear-gradient(0deg, rgba(36, 52, 58, 1) 0%, rgba(36, 52, 58, 1) 6%, rgba(36, 52, 58, 0) 100%);
}

article>div>h3 {
    color: white !important;
    font-size: clamp(0.9em, 1.4vw, 1.9em) !important;
    margin-top: 0px;
}

.emotion {
    font-size: clamp(0.9em, 1.6vw, 1.9em);
    margin-bottom: 3px;
}

article div {
    position: absolute;
    height: auto;
    padding: 0 30px;
    bottom: 0;
    left: 0;
    right: 0;
}


@media screen and (min-width: 1400px) {
    .over>p {
        font-size: 1em;
    }

    .over>h3 {
        font-size: 1em;
    }

    .herinneringen>h2 {
        font-size: 2.5em;
    }

    .herinneringen>h3 {
        font-size: 1.5em;
    }

    .songPreview {
        height: 35vh;
    }
}

@media screen and (min-width: 2000px) {
    .over {
        max-width: 600px;
    }

    .achtergrond {
        top: 250px;
        left: -75px !important;
        height: 100vh;
        width: 65vh;
    }

    .over>p,
    .over>h3 {
        font-size: 1.8em;
    }

    button {
        font-size: clamp(1em, 1.5vw, 1.4em);
    }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .achtergrond {
        top: -100px;
        left: -180px !important;
        transform: rotate(20deg);
    }

    .over {
        top: 13vh;
        padding-left: 6vw;
        left: 0;
    }

    .songPreview {
        width: 80%;
    }

    .herinneringen>section:not(:first-child) {
        margin-right: -55px;
    }

    .herinneringen>section:not(:first-child) article:last-child {
        margin-right: 75px;
    }

    .profielfoto {
        margin-left: 0;
    }

    #patientbtns {
        flex-direction: column;
    }

    #patientbtns button {
        width: 100%;
        height: 80px;
        margin: 1em 0;
    }

    .herinneringen {
        margin-top: -100px;
    }
}

/* iPad pro 11 inch */
@media all and (device-width: 834px) and (device-height: 1112px) and (orientation:portrait) {
    .achtergrond {
        top: -100px;
        left: -180px !important;
        transform: rotate(20deg);
    }

    .over {
        top: 13vh;
        padding-left: 6vw;
        left: 0;
    }

    .songPreview {
        width: 80%;
    }

    .herinneringen>section:not(:first-child) {
        margin-right: -55px;
    }

    .herinneringen>section:not(:first-child) article:last-child {
        margin-right: 75px;
    }

    .profielfoto {
        margin-left: 0;
    }

    #patientbtns {
        flex-direction: column;
    }

    #patientbtns button {
        width: 100%;
        height: 80px;
        margin: 1em 0;
    }

    .herinneringen {
        margin-top: -100px;
    }
}

@media all and (device-width: 1366px) and (device-height: 1024px) and (orientation:landscape) {
    button{
        font-size: 1.2em;
    }
    .herinneringen > h2{
        font-size: 2.5em;
    }

    .herinneringen > h3{
        font-size: 1.5em;
    }

    .emotion {
        font-size: 1.2em;
    }

    article > div > h3{
        font-size: 1.3em !important;
    }

    .over > p{
        font-size: 1.2em;
    }
}

/* iPad Pro 12.9inch*/
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation:portrait) {
    .achtergrond {
        top: -100px;
        left: -200px !important;
        transform: scale(1.3) rotate(20deg);
    }

    .over {
        top: 13vh;
        padding-left: 6vw;
        left: 0;
    }

    .songPreview {
        width: 80%;
    }

    .herinneringen>section:not(:first-child) {
        margin-right: -55px;
    }

    .herinneringen>section:not(:first-child) article:last-child {
        margin-right: 75px;
    }

    .profielfoto {
        margin-left: 0;
    }

    #patientbtns {
        flex-direction: column;
    }

    #patientbtns button {
        width: 100%;
        height: 150px;
        margin: 1em 0;
    }

    .herinneringen {
        margin-top: -100px;
    }

    .achtergrond{
        left: -150px !important;
    }
}