.userElement {
  --block-width: 45%;
  --padding: 5%;
  /* background-color: var(--background-highlight); */
  position: fixed;
  padding: 0 var(--padding) 0 0;
  right: 0;
  bottom: 0;
  top: 8em;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  width: calc(50% - var(--padding));
  height: 590px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 0;
}

.userElement > form > h1{
  margin-top: 0;
  font-weight: 400;
  font-size: 2em;
  margin-bottom: 0.4em;
}

form {
  position: relative;
}

input {
  border: none;
  border-bottom: 2px solid var(--orange);
  width: 100%;
  color: var(--khaki);
  font-weight: 400;
}

form>div {
  width: 60%;
}

form>div>input {
  height: 40px;
  margin: 0;
}

form>div>label {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 1.5em;
}

input::placeholder {
  color: var(--orange);
  font-weight: 300;
  font-size: 1.2em;
}

form>textarea {
  width: calc(100% - 2 * 10px);
  height: auto;
  margin-top:1.5em;
  border: none;
  padding: 10px;
  border: none;
  border-bottom: 2px solid var(--orange);
  color: var(--orange);
  font-weight: 700;
}

.textareacontainer{
  margin-top: 50px;
}

.textareacontainer > strong {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size:1.5em;
}

.textarea {
  margin-top: 1em;
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  max-height: 400px;
  line-height: 20px;
  font-family: 'Lato', sans-serif;
  border-bottom: 2px solid var(--orange);
}

.textarea[contenteditable]:empty::before {
  content: "Tekst...";
  color: var(--orange);
}

button {
  color: white;
  border: none;
  background-color: var(--khaki);
  width: 150px;
  height: 50px;
  border-radius: 15px;
  float: right;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  margin-top: 0.5em;
}

fieldset {
  position: absolute;
  top: 60px;
  right: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  border: none;
  padding: 0;
  text-align: center;
}

fieldset input {
  border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

fieldset > label{
    border: 2px solid var(--orange);
    color: var(--orange);
    border-radius: 10px;
    width: 125px;
    padding: 0.3em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    text-transform: uppercase;
}


fieldset > label:last-child{
    border: 2px solid var(--khaki);
    color: var(--khaki);
    margin-top: 10px;
}

input:checked + label {
  background-color: var(--orange);
  color: white;
}

fieldset input:last-of-type:checked + label {
  background-color: var(--khaki);
}
