main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: var(--nav-height);
    height: calc(100vh - var(--nav-height));
}

.achtergrond {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

main>section {
    max-height: calc(100vh - var(--nav-height));
    position: relative;
}

main>section:nth-child(1) {
    --padding: 60px;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

main>section:nth-child(1) div:nth-child(1) {
    margin: var(--padding);
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;
}

main>section:nth-child(1) div:nth-child(1) img {
    grid-area: 1 / 1 / 3 / 2;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

main>section:nth-child(1) div:nth-child(1) h1 {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 2em;
    margin: 0;
}

main>section:nth-child(1) div:nth-child(1) h2 {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 1.4em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0;
}

#menuOptions section {
    --text-padding: 20px;
    margin: 0 calc(var(--padding) - var(--text-padding));
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--text-padding);
}

#menuOptions section:not(:first-child) {
    border-top: 3px solid var(--brown);
}

#menuOptions section.active {
    border-top: none;
    background-color: var(--background-highlight);
    border-radius: 10px;
}

#menuOptions h1 {
    font-size: 1.4em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#logOut {
    text-align: center;
    margin: var(--padding);
    padding: 15px 0;
    margin-top: 0;
    background-color: var(--orange);
    border-radius: 10px;
    color: white;
}

main>section:nth-child(2) {
    background-color: white;
    width: 60vw;
    border-left: 5px solid var(--background-highlight)
}

main>section:nth-child(2)>div:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

main>section:nth-child(2)>div:nth-child(2) {
    display: inline-flex;
    flex-direction: column;
    width: 50%
}

main>section:nth-child(2)>div:nth-child(3) {
    display: inline-flex;
    flex-direction: column;
    width: 40%;

}

main>section:nth-child(2)>div:nth-child(1)>h1 {
    font-size: 2em;
}

main>section:nth-child(2)>div:nth-child(1)>h2 {
    font-size: 1.1em;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: var(--orange);
}

main>section:nth-child(2)>div:nth-child(1)>svg>path {
    fill: var(--orange);
}

main>section:nth-child(2)>div:nth-child(2)>h2 {
    font-size: 0.8em;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    color: var(--orange);
    text-transform: uppercase;
}

main>section:nth-child(2)>div:nth-child(2)>img {
    width: 20%;
}

main>section:nth-child(2)>div:nth-child(3)>a {
    height: 125px;
    margin: 2em 0;
    width: 175px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    display: inline-flex;
    align-items: flex-end;
    padding: 20px;
    border-radius: 20px;
}

main>section:nth-child(2)>div:nth-child(3)>a:nth-child(1) {
    background-color: var(--green);
}

main>section:nth-child(2)>div:nth-child(3)>a:nth-child(2) {
    background-color: var(--orange);
}

main>section:nth-child(2)>a {
    display: block;
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
    width: 300px;
    font-size: 1.3em;
    height: 100px;
    color: white;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    background-color: var(--khaki);
}

form > input{
    border: none;
    border-bottom: 2px solid var(--khaki);
}

form{
    display: flex;
    flex-direction: column;
    width: 250px;
}