main {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

img {
    width: 50vw;
}

.bg {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.logo {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 30px;
    z-index: 1;
}

section {
    /* margin: 0 auto; */
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

button{
    width: 250px;
    margin-bottom: 20px;
    border-radius: 20px;
    height: 50px;
    color: white;
    border: none;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    margin-left: 12em;
}

button:nth-of-type(1){
    background-color: var(--color1);

}

button:nth-of-type(2){
    background-color: var(--color2);

}

a{
    text-decoration: none;
    color: white;
}