.userElement {
  --block-width: 45%;
  --padding: 5%;
  position: fixed;
  padding: 0 var(--padding) 0 0;
  right: 0;
  bottom: var(--padding);
  top: calc(var(--nav-height) + var(--padding));
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  width: calc(50% - var(--padding));
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.userElement h1 {
  margin: 0;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

.userElement>div:first-child>img {
  width: var(--image-size);
  height: var(--image-size);
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1em;
}

.userElement>div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userElement>div:first-child>a {
  background-color: var(--orange);
  text-decoration: none;
  color: white;
  width: 20%;
  height: 35px;
  line-height: 33px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  margin-left: auto;
}

.userElement>div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.userElement>div:nth-child(2)>a {
  color: white;
  position: relative;
  width: var(--block-width);
  height: 100px;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;

}

.userElement>div:nth-child(2)>a>h2 {
  font-size: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 1em;
  font-weight: 300;
}

.userElement>div:nth-child(2)>a:nth-child(1) {
  background-color: var(--green);
}


.userElement>div:nth-child(2)>a:nth-child(2) {
  background-color: var(--khaki);
}

.slider {
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  display: none;
}

.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
  display: none;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
  display: none;
}

.slides>div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 150px;
  margin-right: 50px;
  border-radius: 10px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.slides canvas {
  background: white;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}

.author-info a {
  color: white;
}

.slider>a {
  display: inline-flex;
  width: 6.5rem;
  height: 1.5rem;
  color: var(--khaki);
  font-weight: 400;
  font-size: 1.2em;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  margin: 0 0 0.5rem 0;
  position: relative;
  font-family: 'Lato', sans-serif;
  opacity: 50%;
}

.slider>a:active {
  top: 1px;
}

.slider>a:focus {
  background: #000;
}

.sliderActive {
  opacity: 100% !important;
}

.userElement .container h2 {
  font-family: 'Lato', sans-serif;
  margin-bottom: 0.2em;
  flex: 0 0 100%;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container>article {
  position: relative;
  width: var(--block-width);
  height: 150px;
  background-image: linear-gradient(0deg, rgba(36, 52, 58, 1) 0%, rgba(36, 52, 58, 1) 6%, rgba(36, 52, 58, 0) 100%);
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 10px;
}

.container>article>img {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  object-fit: cover;
  border-radius: 10px;
  z-index: -1;
}

.container>article div {
  position: absolute;
  height: auto;
  padding: 0 10px;
  bottom: 0;
  left: 0;
  right: 0;
}

.container>article div h3 {
  margin: 0 0 0.5em 0;
}

.emotion {
  margin: 0;
}

/* iPad mini of iPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {

  .userElement>div:nth-child(2),
  .container {
    flex-direction: column;
  }

  .userElement>div:first-child>a {
    width: 35%;
  }

  .userElement>div:nth-child(2)>a,
  .container>article {
    width: 100%;
    margin: 0.5em 0;
    height: 75px;
  }

  .container>article {
    height: 100px;
  }

  .userElement .container h2 {
    flex: 0;
  }

  .slides>div {
    height: 180px;
  }
}

/* iPad Pro 10.5inch*/
@media all and (device-width: 834px) and (device-height: 1112px) and (orientation:portrait) {
  .userElement>div:nth-child(2),
  .container {
    flex-direction: column;
  }

  .userElement>div:first-child>a {
    width: 35%;
  }

  .userElement>div:nth-child(2)>a,
  .container>article {
    width: 100%;
    margin: 0.5em 0;
    height: 75px;
  }

  .container>article {
    height: 100px;
  }

  .userElement .container h2 {
    flex: 0;
  }

}

@media all and (device-width: 1112px) and (device-height: 834px) and (orientation:landscape) {
  .slides > div{
    height: 200px;
  }
}


@media all and (device-width: 1366px) and (device-height: 1024px) and (orientation:landscape) {

  .userElement{
    top:  calc(var(--nav-height) + 25px);
  }


  .userElement > div:nth-child(2) > a{
    height: 125px;
  }

  .slides > div{
    height: 250px;
  }
}

/* iPad Pro 12.9inch*/
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation:portrait) {
  .userElement {
    top: var(--nav-height);
    padding-top: calc(8em - var(--nav-height) + 30px);
  }
  
  .userElement>div:nth-child(2),
  .container {
    flex-direction: column;
  }

  .userElement>div:first-child>a {
    width: 35%;
  }

  .userElement>div:nth-child(2)>a,
  .container>article {
    width: 100%;
    margin: 0.5em 0;
    height: 75px;
  }

  .container>article {
    height: 100px;
  }

  .userElement .container h2 {
    flex: 0;
  }

  .slides > div{
    height: 280px;
  }

  .userElement > div:nth-child(2) > a, .container > article{
    height: 133px;
  }

  .userElement > div:first-child > a{
    width:100px
  }

}