main {
    margin-top: var(--nav-height);
    position: relative;
}

#list {
    --padding-left: 12%;
    --title-height: 160px;
    position: relative;
    width: 50%;
    height: 100%;
}

#alphabet {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 1.1em;
    align-items: center;
    justify-content: center;
    margin-top: 175px;
    padding-left: 10px;
}

#alphabet>p {
    margin: 0;
    font-size: 0.7em;
}

#list h1 {
    margin: 0;  
    display: block;
    z-index: 5;
    font-size: 2em;
}

.search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 var(--padding-left);
  
}

.search svg{
    width: 10%;
    height: 10%;
    fill: orange;
}

.search svg g path{
    fill: var(--orange);
}

.search form{
    margin-left: 1em;
    margin-top: 2%;
    width: 80%;
}

.search form input{
    border: none;
    border-bottom: 2px solid var(--orange);
    width: 100%;
}

.patientTitle{
    background: linear-gradient(white 0% 90%, transparent 100%);
    position: fixed;
    width: 50%;
    height: var(--title-height);
}

.patientTitle > div:first-child{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 var(--padding-left);
    padding-top: calc(8em - var(--nav-height));
    margin-bottom: 0.8em;
}

.patientTitle > div > a {
    padding: 12px 50px;
    border-radius: 10px;
    text-align: center;
    color: white;
    background-color: var(--green);
    font-family: 'Lato', sans-serif;
}

#list #users {
    margin: 0 var(--padding-left);
    padding-top: var(--title-height);
}

#list .user {
    font-family: 'Lato', sans-serif;
    padding: 15px 0;
    display: block;
}

#list .user article {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#list .user:not(:last-child) {
    border-bottom: 2px solid var(--background-highlight);
}

#list .user img {
    border-radius: 50%;
    height: var(--image-size);
    width: var(--image-size);
    margin-right: 10px;
    object-fit: cover;
}

#list .user h2 {
    font-weight: 400;
    font-size: 1.2em;
}

.userElement {
    --block-width: 45%;
    --padding: 5%;
    background-color: var(--background-highlight);
    position: fixed;
    padding: 1.2em var(--padding);
    right: 0;
    bottom: 0;
    top: 8em;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    width: calc(50% - var(--padding) * 2);
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.userElement h1 {
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
}

.userElement>div:first-child>img {
    width: var(--image-size);
    height: var(--image-size);
}

.userElement>div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.userElement>div:first-child>a {
    background-color: var(--orange);
    text-decoration: none;
    color: white;
    width: 20%;
    height: 35px;
    line-height: 33px;
    border-radius: 5%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    font-weight: 300;
}

.userElement>div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.userElement>div:nth-child(2)>a {
    color: white;
    position: relative;
    width: var(--block-width);
    height: 100px;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;

}

.userElement>div:nth-child(2)>a>h2 {
    font-size: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 1em;
    font-weight: 300;
}

.userElement>div:nth-child(2)>a:nth-child(1) {
    background-color: var(--green);
}


.userElement>div:nth-child(2)>a:nth-child(2) {
    background-color: var(--khaki);
}

.slider {
    text-align: center;
    overflow: hidden;
}

.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    display: none;
}

.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
    display: none;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
    display: none;
}

.slides>div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 150px;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.slides canvas {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
}

.author-info {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
}

.author-info a {
    color: white;
}

.slider>a {
    display: inline-flex;
    width: 6.5rem;
    height: 1.5rem;
    color: var(--orange);
    font-weight: 900;
    font-size: 1.2em;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    margin: 0 0 0.5rem 0;
    position: relative;
    font-family: 'Lato', sans-serif;
}

.slider>a:active {
    top: 1px;
}

.slider>a:focus {
    background: #000;
}

.slider>a:first-child,
.slider>a:nth-child(3) {
    opacity: 50%;
}

.userElement .container h2 {
    font-family: 'Lato', sans-serif;
    margin-bottom: 0.2em;
    flex: 0 0 100%;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}




.container>article {
    position: relative;
    width: var(--block-width);
    height: 150px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 10px;
}

.container>article:nth-of-type(1) {
    background-image: linear-gradient(0deg, rgba(36, 52, 58, 1) 0%, rgba(36, 52, 58, 1) 6%, rgba(36, 52, 58, 0) 100%), url(https://source.unsplash.com/collection/1504175);
}

.container>article:nth-of-type(2) {
    background-image: linear-gradient(0deg, rgba(36, 52, 58, 1) 0%, rgba(36, 52, 58, 1) 6%, rgba(36, 52, 58, 0) 100%), url(https://source.unsplash.com/collection/3458583);
}

.container>article div {
    position: absolute;
    height: auto;
    padding: 0 10px;
    bottom: 0;
    left: 0;
    right: 0;
}

.container>article div h3 {
    margin: 0 0 0.5em 0;
}

.emotion {
    margin: 0;
}