main {
    margin-top: var(--nav-height);
    position: relative;
}

#list {
    --padding-left: 12%;
    --title-height: 160px;
    position: relative;
    width: 50%;
    height: 100%;
}

#alphabet {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 1.1em;
    align-items: center;
    justify-content: center;
    margin-top: 175px;
    padding-left: 10px;
}

#alphabet>p {
    margin: 0;
    font-size: 0.7em;
}

#list h1 {
    margin: 0;  
    display: block;
    z-index: 5;
    font-size: 2em;
}

#list .search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 var(--padding-left);
  
}

#list .search svg{
    width: 10%;
    height: 10%;
    fill: orange;
}

#list .search svg g path{
    fill: var(--orange);
}

#list .search form{
    margin-left: 1em;
    margin-top: 2%;
    width: 80%;
}

#list .search form input{
    border: none;
    border-bottom: 2px solid var(--orange);
    width: 100%;
}

#list .patientTitle{
    background: linear-gradient(white 0% 90%, transparent 100%);
    position: fixed;
    width: 50%;
    height: var(--title-height);
}

#list .patientTitle > div:first-child{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 var(--padding-left);
    padding-top: calc(8em - var(--nav-height));
    margin-bottom: 0.8em;
}

#list .patientTitle > div > a {
    padding: 12px 50px;
    border-radius: 10px;
    text-align: center;
    color: white;
    background-color: var(--green);
    font-family: 'Lato', sans-serif;
}

#list #users {
    margin: 0 var(--padding-left);
    padding-top: var(--title-height);
}

#list .user {
    font-family: 'Lato', sans-serif;
    padding: 15px calc(var(--padding-left) * 0.2);
    display: block;
}

#list .user article {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#list .user:not(:last-child) {
    border-bottom: 2px solid var(--background-highlight);
}

#list .user img {
    border-radius: 50%;
    height: var(--image-size);
    width: var(--image-size);
    margin-right: 10px;
    object-fit: cover;
}

#list .user h2 {
    font-weight: 400;
    font-size: 1.2em;
}

#list .active {
    background-color: var(--background-highlight);
    border-radius: 10px;
    border: none;
}