:root {
    --color1: #ea6f3d;
    --color2: #5c5141;
    --color3: #7ebdb2;
    --barcolor: #25333a;
    --background-main: #ffffff;
    --background-highlight: #e7e0d6;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}