<section class="sort">
    <h1>Sorteren</h1>
    <a href="">

        notities voor verzorgers
    </a>

    <a href="">
        notities voor familie
    </a>

    <a href="">
        A - z Alfabetisch
    </a>

    <a href="">
        z - a Alfabetisch
    </a>
</section>